<h1>Change Flight Information</h1>
<br><br>
<form method="POST" action="/flights/<%=@flight.id%>">
<input type="hidden" value="patch" name="_method">
<label>New Aircraft: <input type = "text" name = "callsign" value = "<%= @flight.airplane.callsign %>"> </label>
<label>New Passenger: <input type = "text" name = "name" value = "<%= @flight.passenger.name %>"> </label>
<input type="submit">
</form>
<br><br>
<p>To return to the HomePage click below</p>
<br>
<a href="/">HomePage</a>


<br><br><br><br><br>
<h3>Thank you for choosing FlightSim.com!</h3>

