<h1>This is the page for <%= @passenger.name %>!</h1>
<h2>Click name to change it!</h2>
<br><br>

<h3> <a href="/passengers/<%= @passenger.id %>/edit"><%= @passenger.name %> </a> </h3>
<br><br>
<p>To return to the HomePage click below</p>
<br>
<a href="/">HomePage</a>


<br><br><br><br><br>
<h3>Thank you for choosing FlightSim.com!</h3>

